<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Página Principal</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    	<!-- LOGOUT -->
        <form th:action="@{/logout}" method="post" th:hidden="true"	name="logoutForm">
        	<input type="submit" />
		</form>
    
    	<!-- NAVEGAÇÃO -->
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/administrador}"><strong>Empório Viver Bem</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            	<!-- ABAS NAV BAR -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                	<div class="vr bg-light"></div>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" aria-current="page" id="logoutLink" >Usuario</a><!-- sec:authentication="principal.username" -->
                        <div class="dropdown-menu">
                        	<a class="dropdown-item" href="">Sair</a>
                        </div>
                    </li>
                
                    <!-- <div class="vr bg-light"></div>
                    <li class="nav-item">

                        <a class="nav-link active" aria-current="page" th:href="@{/administrador}">Administrador</a>
                    </li> -->
                    <div class="vr bg-light"></div>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/administrador/usuario}">Usuários</a>
                    </li>
                    <div class="vr bg-light"></div>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"  th:href="@{/administrador/produto}">Produtos</a>
                    </li>
                    <div class="vr bg-light"></div>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#">Categorias</a>
                    </li>
                    <div class="vr bg-light"></div>
                    <li class="nav-item">
                        <a class="nav-link  disabled" aria-current="page" href="#">Marcas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <article>
            <section class="container-fluid" layout:fragment="basepagina">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Página Inicial</h1>
                        <hr>
                        <div class="input-group custom-search-form">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                                <button class="btn btn-primary" type="submit">Procurar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>



        </article>
    </main>
    <footer class="bd-footer py-4 py-md-5 mt-5 bg-light">
        <div class="container text-center">
            <p>2022/2 - Projeto Integrador -<span> Erika</span> - <span>Lucas</span></p>
        </div>
    </footer>

<script type="text/javascript">
$(document).ready(function() {
	$("#logoutLink").on("click", function(e) {
		e.preventDefault();
		document.logoutForm.submit();
	});
});
</script>

</body>

</html>