<!DOCTYPE html>
<html lang="pt-br"  
xmlns:th="http://www.thymeleaf.org"
xmls:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Empório Viver Bem</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css">

</head>

<body>
    <!-- Page Preloder -->
<!--     <div id="preloder">
        <div class="loader"></div>
    </div>  -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a th:href="@{/home}"><img th:src="@{/imagens/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a th:href="@{/home}">Naturalis</a></li>
                            <li><a th:href="@{/home/navegar}">Navegar</a></li>
<!--                             <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li> -->
                            <li><a th:href="@{/home/ofertas}">Ofertas</a></li>
                            <li><a th:href="@{/home/contato}">Contato</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a th:href="@{/home/carrinho}"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__top__right__auth">
                            <a th:href="@{/home/entrar}"><i class="fa fa-user"></i> Entrar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Todas Categorias</span>
                        </div>
                         <div >
                        	<ul >
                            	<li th:each="categoria : ${listaCategoria}"><a th:href="@{/home/categoria/{id}}" ><span th:text="${categoria.nome}"></span></a></li>
                       		</ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form th:action="@{/home/pagina/1}" class="d-flex" role="search">
                                <input type="search" placeholder="Busque aqui seu produto" name="keyword">
                                <button type="submit" class="site-btn">Procurar</button>
                            </form>
                        </div>
                        <a th:href="@{/home/contato}">
	                        <div class="hero__search__phone">
	                            <div class="hero__search__phone__icon">
	                                <i class="fa fa-phone"></i>
	                            </div>
	                            <div class="hero__search__phone__text">
	                                <h5>11 99999-1234</h5>
	                                <span>De Seg a Sex - 8h as 20h</span>
	                            </div>
	                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
	<main>
		<!-- Breadcrumb Section Begin -->
		    <section class="breadcrumb-section set-bg" th:data-setbg="@{/imagens/breadcrumb.jpg}">
		
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12 text-center">
		                    <div class="breadcrumb__text">
		                        <h2>Naturalis</h2>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
		    <!-- Breadcrumb Section End -->
		<div layout:fragment="conteudo-principal"></div>
	</main>

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a th:href="@{/home}"><img th:src="@{/imagens/logo.png}" alt=""></a>
                        </div>
                        <ul>
                            <li>Endereço: Rua ABC, São Paulo -SP</li>
                            <li>Telefone: 11 99999-1234</li>
                            <li>Email: emporioviverbem@naturalis.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Links úteis</h6>
                        <ul>
                            <li><a href="#">Sobre a empresa</a></li>
                            <li><a href="#">Produtos</a></li>
                            <li><a href="#">Informações</a></li>
                            <li><a href="#">Entregas</a></li>
                            <li><a href="#">Politica de Privacidade</a></li>
                            <li><a href="#">Nossas franquias</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer__widget">
                        <h6>Nos siga nas redes sociais</h6>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="footer__copyright ">
                        <div class="footer__copyright__text ">
                            <p class="text-center">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img th:src="@{/imagens/payment-item.png}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/mixitup.min.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>

</body>

</html>