<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Página de Cadastro de Usuários</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<h1>Cadastro de Usuários</h1>
	<form action="/administrador/usuario/salvar" method="POST" th:object="${listaUsuarioInfo}">
		<input type="text" id="id"  th:field="*{id}" value="" readonly/>
	
		<label for="nome">Nome:</label> 
		<input class="form-control" type="text" th:field="*{nome}" id="nome" />
		
		<label for="telefone">Telefone:</label> 
		<input class="form-control" type="text" th:field="*{telefone}" id="telefone" />
		
 		<label for="dataNascimento">Data de Nascimento:</label>
		<input class="form-control" type="date" th:field="*{dataNascimento}" id="dataNascimento" />  
		
		<label for="cpf">CPF:</label>
		<input class="form-control" type="text" th:field="*{cpf}" id="cpf" /> 

		<label >Ativo:</label>
		<input type="checkbox" class="m-2" th:field="*{ativo}"/>
		
		<label for="email">Email:</label>
		<input class="form-control" type="email" th:field="*{email}" id="email" /> 
		
		<label for="senha">Senha</label>
		<input class="form-control" type="password" th:field="*{senha}" id="senha" /> 
		
		
		<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	</form>
	
</body>
</html>