<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Página Inicial do Administrador</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

	<h1>Usuários</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Cargo</th>
			<th>Email</th>
			<th>Configurações</th>
		</tr>
		<tr th:each="pessoa : ${listaUsuariosControlador}">
			<td th:text="${pessoa.id}"></td>
			<td th:text="${pessoa.nome}"></td>
			<td >Cargo</td>
			<td th:text="${pessoa.email}"></td>
			<td>
			<td>
			<td>
				<a th:href="@{/administrador/usuario/editar/{id}(id=${pessoa.id})}">Editar</a>
			</td>
			<td>
				<a th:href="@{/administrador/usuario/deletar/{id}(id=${pessoa.id})}">Deletar</a>
			</td>
			</td>

		</tr>

	</table>

	<a th:href="@{/administrador/usuario/cadastrar}">Cadastrar</a>
</body>
</html>