<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>Pagina de usuarios</title>
</head>

<body>

	<div class="container-fluid" layout:fragment="basepagina">
		<div class="col-lg-12 ">
			<h1 class="page-header">Usuarios</h1>
			<hr>
			<div class="input-group custom-search-form form-inline m-2">
				<form th:action="@{/administrador/usuario/pagina/1}" class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
					<button class="btn btn-primary" type="submit">Procurar</button>
				</form>
			</div>
		</div>
		
		<div >
			<a th:href="@{/administrador/usuario/cadastrar}" class="btn btn-primary ">Cadastrar</a>
		</div>

		<hr>
		<!-- Mensagens de Status -->
		<div th:if="${mensagemStatus != null}" class="alert alert-success text-center alert-dismissible fade show"
			role="alert">
			<span><strong th:text="${mensagemStatus}"></strong></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<div class="table-responsive col-xs-1 text-center">
			<table class="table table-bordered table-sriped table-hover">
				<tr>
					<thead class="table-dark">
						<th>ID</th>
						<th>Nome</th>
						<th>Cargo</th>
						<th>Email</th>
						<th>Telefone</th>
						<th>Data</th>
						<th>CPF</th>
						<th>Status</th>
						<th>Configuração</th>
					</thead>
				</tr>

				<tr th:each="pessoa : ${listarUsuarios}">
					<td th:text="${pessoa.id}"></td>
					<td th:text="${pessoa.nome}"></td>
					<td th:text="${pessoa.cargos}"></td><!-- [[${pessoa.cargos}]] -->
					<td th:text="${pessoa.email}"></td>
					<td th:text="${pessoa.telefone}"></td>
					<td th:text="${pessoa.dataNascimento}"></td><!-- [[${pessoa.dataNascimento}]] -->
					<td th:text="${pessoa.cpf}"></td>
					<td>
						<div class="form-check form-switch">
							<label class="form-check-label" for="flexSwitchCheckDefault">

								<!-- Desativar Usuario -->
								<a th:if="${pessoa.ativo == true}"
									th:href="@{'/administrador/usuario/' + ${pessoa.id} + '/ativo/false'}"
									title="Desativar Usuario">
									<input type="checkbox" class="form-check-input" role="switch"
										id="flexSwitchCheckDefault" checked />
								</a>

								<!-- Ativar Usuario -->
								<a th:if="${pessoa.ativo == false}"
									th:href="@{'/administrador/usuario/' + ${pessoa.id} + '/ativo/true'}"
									title="Ativar Usuario">
									<input type="checkbox" class="form-check-input" role="switch"
										id="flexSwitchCheckDefault" />
								</a>
							</label>
						</div>
					</td>
					<td>
						<a class="btn btn-warning" th:href="@{/administrador/usuario/editar/{id}(id=${pessoa.id})}">Editar</a>
<!-- 						<a th:href="@{/administrador/usuario/deletar/{id}(id=${pessoa.id})}">Deletar</a> -->
					</td>
				</tr>
			</table>
			
			<!-- PAGINAÇÃO -->
 			<div class="text-center m-1" th:if="${totalItens > 0}">
				<span>Usuários [[${comecoConta}]] até [[${finalConta}]] de	[[${totalItens}]]</span>
			</div>
			<div class="text-center m-1" th:unless="${totalItens > 0}">
				<span>Nenhum usuário encontrado</span>
			</div>
			<div th:if="${totalPaginas > 1}">
				<nav>
					<ul class="pagination justify-content-center">
						<li th:class="${paginaAtual > 1 ?'page-item':'page-item disabled'}">
							<a class="page-link" th:href="@{/administrador/usuario/pagina/1}" aria-label="Primeira"> <span aria-hidden="true">&laquo;</span></a>
						</li>
						<li th:class="${paginaAtual > 1 ?'page-item':'page-item disabled'}">
							<a class="page-link" th:href="@{'/administrador/usuario/pagina/'+${paginaAtual -1 }}" aria-label="Anterior"><span aria-hidden="true">&lt;</span></a>
						</li>
						<li th:class="${paginaAtual != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, totalPaginas)}">
							<a class="page-link" th:href="@{'/administrador/usuario/pagina/' +${i}}">[[${i}]]</a>
						</li>
						<li	th:class="${paginaAtual < totalPaginas ? 'page-item':'page-item disabled'}">
							<a class="page-link" th:href="@{'/administrador/usuario/pagina/'+${paginaAtual +1 }}" aria-label="Proxima"><span aria-hidden="true">&gt;</span></a>
						</li>
						<li th:class="${paginaAtual < totalPaginas ? 'page-item':'page-item disabled'}">
							<a class="page-link" th:href="@{'/administrador/usuario/pagina/'+${totalPaginas}}" aria-label="Ultima"><span aria-hidden="true">&raquo;</span></a>
						</li>
					</ul>
				</nav>
			</div>
			<!-- FIM PAGINAÇÃO -->
		</div>

	</div>

</body>

</html>